{% extends "layouts/base-fullscreen.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} bg-soft {% endblock body_class %}

{% block content %}

    <main>
        <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="stats-small card card-small">
                    <div class="card-body px-0 pb-0">
                        <div class="d-flex px-3">
                            <div class="stats-small__data">
                                <span class="stats-small__label mb-1 text-uppercase">Users</span>
                                <h6 class="stats-small__value count m-0">2,390</h6>
                            </div>
                            <div class="stats-small__data text-right align-items-center">
                                <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                            </div>
                        </div>
                        <canvas height="60" class="analytics-overview-stats-small-1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="stats-small card card-small">
                    <div class="card-body px-0 pb-0">
                        <div class="d-flex px-3">
                            <div class="stats-small__data">
                                <span class="stats-small__label mb-1 text-uppercase">Users</span>
                                <h6 class="stats-small__value count m-0">2,390</h6>
                            </div>
                            <div class="stats-small__data text-right align-items-center">
                                <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                            </div>
                        </div>
                        <canvas height="60" class="analytics-overview-stats-small-1"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="stats-small card card-small">
                    <div class="card-body px-0 pb-0">
                        <div class="d-flex px-3">
                            <div class="stats-small__data">
                                <span class="stats-small__label mb-1 text-uppercase">Users</span>
                                <h6 class="stats-small__value count m-0">2,390</h6>
                            </div>
                            <div class="stats-small__data text-right align-items-center">
                                <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                            </div>
                        </div>
                        <canvas height="60" class="analytics-overview-stats-small-1"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
