{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Blog Overview</h3>
    </div>
</div>
<!-- End Page Header -->
<!-- Small Stats Blocks -->
<div class="row">
    {% for plan in context.investments %}
    <div class="col-xs-12 col-sm-6 col-md-4 mb-4">
        <div class="card card-small">
            <div class="card-header border-bottom">
                <h6 class="m-0">{{ plan.plan.name }}</h6>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-small list-group-flush">
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">Amount</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ plan.amount }}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">Period</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ plan.period }}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">ROI</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ plan.roi }}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">Period</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ plan.roi_period }}</span>
                    </li>
                    <li class="list-group-item d-flex px-3">
                        <span class="text-semibold text-fiord-blue">Date</span>
                        <span class="ml-auto text-right text-semibold text-reagent-gray">{{ plan.created_at }}</span>
                    </li>
                </ul>
            </div>
            <div class="card-footer border-top">
                <form method="POST">
                    {% csrf_token %}
                    {% if plan.plan.capital_return %}
                    <div class="mt-2">
                        <button type="submit" class="btn btn-success btn-block">Withdraw Capital</button>
                    </div>
                    {% endif %}
                    <input type="hidden" name="investment_id" value="{{ plan.investment_id }}" />
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- End Small Stats Blocks -->
{% endblock content %}